<section id= "container">
  <h3>
    {{ correo }}
  </h3>
  <ul id= "card-set">
    @for(product of products;track product)
    {
      <li>
        <mat-card>
          <div class = "product-card">
            <img [src]="product.imageUrl">
            <p>
              {{ product.nombre }}
            </p>
            <p>
              S/.{{ product.precio }}
            </p>
            <button class="delete-card">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-card>
      </li>
    }
  </ul>
  <button class="buy-button">
    <h6>
      Comprar
    </h6>
  </button>
</section>
