<div id="container">
  <mat-card appearance="outlined" class="card-container">
    <img [src]= "caracteristicas()!.imageUrl">
    <p>
      {{ caracteristicas()!.categoria }}
    </p>
    <p>
      {{ caracteristicas()!.nombre }}
    </p>
    <p>
      S/.{{ caracteristicas()!.precio }}
    </p>
    <p>
      Disponibles
    </p>
    <button (mouseover) = "changeIcon()" (mouseout) = "resetIcon()"
      (click) = "onAddToCart()">
      <h6>
      @if(!isHover)
      {
        Seleccionar Opciones
      }
      @else
      {
        <mat-icon class="icon">
          shopping_cart
        </mat-icon>
      }
      </h6>
    </button>
  </mat-card>
</div>
