<div id="screen">
<div id="container">
  <section class="logo-container">
    <div id="logo">
    </div>
  </section>
  <section class= "login-container">
    <h3>
        Iniciar Sesion
    </h3>
    <div class= "correo-container">
      <h6>Correo Electronico</h6>
      <mat-form-field id="email-form" appearance="fill">
          <input matInput type="email" placeholder="Ingrese su email" [(ngModel)] = "correo">
      </mat-form-field>
    </div>
    <div class= "password-container">
      <h6> Contraseña</h6>
      <mat-form-field id="password-form" appearance="fill">
          <input matInput [type]="typePassword" placeholder="Ingrese su contraseña" [(ngModel)]="password">
        <button mat-icon-button matSuffix (click)= "changeTypePassword()">
          <mat-icon>
            @if(typePassword === "password")
            {
              visibility
            }
            @else
            {
              visibility_off
            }
          </mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="forgot-password">
      <p>
        Has olvidado tu contraseña?
      </p>
      <a href="/forgot-password">
        Click aqui
      </a>
    </div>
    <button class="submit-container" (click) = "onSubmit()">
      <p>
        Iniciar sesion
      </p>
    </button>
    <div class="sign_in">
      <p>
        No tienes cuenta aun?.
      </p>
      <a href="/register">
        Registra tu cuenta
      </a>
    </div>
    @if(incorrectCredentials)
    {
        <h6 class = "incorrect-credentials">
          Credenciales Incorrectas
        </h6>
    }
  </section>
</div>
</div>
