<div id="screen">
<div id="container">
  <section class= "login-container">
    <h3>
        Crear cuenta
    </h3>
    <div class= "correo-container">
      <h6>Correo Electronico</h6>
      <mat-form-field id="email-form" appearance="fill">
          <input matInput type="email" placeholder="Ingrese su email" [(ngModel)] = "correo">
      </mat-form-field>
    </div>
    <div class= "password-container">
      <h6> Contraseña</h6>
      <mat-form-field id="password-form" appearance="fill">
          <input matInput [type]="typePassword" placeholder="Ingrese su contraseña" [(ngModel)] = "password">
        <button mat-icon-button matSuffix (click)= "changeTypePassword()">
          <mat-icon>
            @if(typePassword === "password")
            {
              visibility
            }
            @else
            {
              visibility_off
            }
          </mat-icon>
        </button>
      </mat-form-field>
    </div>
      <div class= "password-container">
      <h6> Confirmar contraseña</h6>
      <mat-form-field id="password-form" appearance="fill">
        <input matInput [type]="typePassword" placeholder="Ingrese su contraseña" [(ngModel)] = "passwordConfirm">
        <button mat-icon-button matSuffix (click)= "changeTypePassword()">
          <mat-icon>
            @if(typePassword === "password")
            {
              visibility
            }
            @else
            {
              visibility_off
            }
          </mat-icon>
        </button>
      </mat-form-field>
    </div>
    <button class="submit-container" (click) = "onSubmit()">
      <p>
        Crear cuenta
      </p>
    </button>
    @if(errorMessage)
    {
      <h6>
        {{ errorMessage }}
      </h6>
    }
    </section>
    <section class="logo-container">
    <div id="logo">
    </div>
  </section>

</div>
</div>
