#container {
  width: 90vw;
  background-color: green;
}

.category-set {
  display: flex;
  color: white;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: cyan;
}
