<div id="container">
  <img src="mr_robot.jpg">
  <div class="text">
    <h2>
      Servicios F0rdux - Tus Cuentas de Streaming al Mejor Precio
    </h2>
    <p>
      Bienvenido a Servicios F0rdux, tu destino número uno para perfiles de Netflix, cuentas de Spotify, y cuentas de NordVPN, todo a precios imbatibles. Nos especializamos en ofrecerte acceso a tus servicios de streaming y seguridad favoritos con la garantía de la más alta calidad y protección. Con Servicios F0rdux, disfruta de tus series y música favoritas, navega de manera segura en internet, y ahorra en todas tus suscripciones.
    </p>
  </div>
</div>
